
body {
    background-image: url(https://images.pexels.com/photos/2388639/pexels-photo-2388639.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    font-family: sans-serif;
   }


h1, h2, p {
    text-align: center;
  }

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }
 
    
.menu {
    background-color: #E1D4BB;
    opacity: 80%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed black;
    padding: 20px;
    max-width: 500px;
}





.choice p {
    display: inline-block;
}

.tacos, .bowls {
    text-align: left;
}

.tacos {
    width: 75%;
}

.bowls {
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}


